// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.navbar {
  font-size: 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.jumbotron {
  background: url(../img/pirate-ship.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  font-family: 'New Tegomin', serif;
}

.img-fluid {
  max-width: 50%;
}

.col-sm {
  text-align: left;
}


footer {
  background-color: grey;
  text-align: center;
}

h1 {
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin: 0;
}

h3 {
  font-size: 3rem;
  font-family: 'New Tegomin', serif;
}

h4 {
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

 .col-sm {
   border-right: 1px solid gray;
   margin-right: 5rem;
   padding: 0;
   align-content: right;
 }

 .col {
  align-content: center;
}
